.container {
  display: grid;
  background-color: white;
  border: 1px solid black;
  margin: 100px 0 100px 500px;
  max-width: 700px;
  height: 700px;
}

.grid {
  display: inline-block;
  background-color: white;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container-grid {
  display: flex;
  justify-content: center;
}

.reset {
  padding: 10px 30px;
}

.reset-grid {
  padding: 10px 30px;
}

.fill {
  background-color: black;
}
