*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 7rem;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.board-contain {
  padding: 20rem 4.8rem;
  margin: auto;
  max-width: 70rem;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: none;
}

.block {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid black;
  min-height: 19rem;
}
